[Unit]
Description= Webapp
After=network.target

[Service]
ExecStart=/usr/bin/npm run start
WorkingDirectory=/home/ec2-user/webapp
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target